<div class="card ">

  <div class="card-header text-center">
    Cadastro
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-4 form-group">
        <label for="nome">Nome:</label>
        <input id="nome" type="text" class="form-control" />
      </div>

      <div class="col-md-4 form-group">
        <label for="telefone">Telefone:</label>
        <input id="telefone" type="text" class="form-control" />
      </div>

      <div class="col-md-4 form-group">
        <label for="cpf">Cpf:</label>
        <input id="cpf" type="text" class="form-control" />
      </div>
    </div>
    <hr />

    <div class="row" style="display: flex; justify-content: center;">

      <div class="col-md-4 form-group text-right">
        <label for="numero" style="margin-top: 9px;">Cep:</label>
      </div>
      <div class="col-md-4 form-group">
        <input id="numero" type="text" class="form-control" />
      </div>
      <div class="col-md-4 form-group">
        <button class="btn btn-primary">Verificar</button>
      </div>

    </div>

    <hr />

    <div class="row">
      <div class="col-md-4 form-group">
        <label for="rua">Rua:</label>
        <input id="rua" type="text" class="form-control" disabled />
      </div>

      <div class="col-md-4 form-group">
        <label for="cpf">Cpf:</label>
        <input id="cpf" type="text" class="form-control" disabled />
      </div>

      <div class="col-md-4 form-group">
        <label for="numero">Número:</label>
        <input id="numero" type="text" class="form-control" disabled />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label for="bairro">Bairro:</label>
        <input id="bairro" type="text" class="form-control" disabled />
      </div>

      <div class="col-md-6 form-group">
        <label for="uf">UF:</label>
        <input id="uf" type="text" class="form-control" disabled />
      </div>

    </div>

    <div class="card-footer text-muted text-right">
      <a href="#" class="btn btn-success">Cadastrar</a>
    </div>
  </div>
</div>
