<div class="row">

  <div class="col-md-12">

    <div class="card ">

      <div class="card-header text-center">
        Cadastro
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-md-4 form-group">
            <label for="nome">Nome</label>
            <input id="nome" type="text" class="form-control" />
          </div>

          <div class="col-md-4 form-group">
            <label for="telefone">Telefone</label>
            <input id="telefone" type="text" class="form-control" />
          </div>

          <div class="col-md-4 form-group">
            <label for="cpf">Cpf</label>
            <input id="cpf" type="text" class="form-control" />
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-4 form-group">
            <label for="numero">Cep:</label>
            <input id="numero" type="text" class="form-control" />
          </div>

          <div class="row">
            <div class="col-md-4 form-group">
              <button class="btn btn-primary">Verificar</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 form-group">
              <label for="rua">Rua:</label>
              <input id="rua" type="text" class="form-control" />
            </div>



            <div class="col-md-4 form-group">
              <label for="cpf">Cpf</label>
              <input id="cpf" type="text" class="form-control" />
            </div>
          </div>

          Nome
          ■ rua
          ■ Número
          ■ CEP
          ■ Bairro
          ■ UF

        </div>
        <div class="card-footer text-muted text-right">
          <a href="#" class="btn btn-primary">Cadastrar</a>
        </div>

      </div>

    </div>

  </div>
